{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <title>LMS - {{ title }}</title>
    <form method="get">
        <label for="fname">Group:</label>
        <input type="text" id="fname" name="name_of_group" placeholder="A35"><br><br>
{#        <label for="lname">Start date:</label>#}
{#        <input type="date" id="lname" name="start_date" placeholder="YYYY-MM-DD"><br><br>#}
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="create/">Create new group</a>
    <br><br>
    <table>
    {% for group in groups %}
        <tr>
            <td>{{ group.pk }}</td>
            <td><a href="{% url 'groups:detail' group.pk %}/">{{ group.name_of_group }}</a></td>
            <td>{{ group.start_date }}</td>
            <td><a href="{% url 'groups:update' group.pk %}/">Edit</a></td>
            <td><a href="{% url 'groups:delete' group.pk %}/">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}