<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS - {% block title %}{% endblock %}</title>
    <style>
        #menu {
            font-family: arial, sans-serif;
            width: 50%;
        }
        {% block custom_css %}{% endblock %}
    </style>
</head>
<body>
    <table id="menu">
        <tr>
            <td style="margin: 5px; padding: 5px;"><a href="{%  url 'home' %}">Home</a></td>
            <td style="margin: 5px; padding: 5px;"><a href="{% url 'student:list' %}">List of students</a></td>
            <td style="margin: 5px; padding: 5px;"><a href="{% url 'student:create' %}">Create a new student</a> </td>
            <td style="margin: 5px; padding: 5px;"><a href="{% url 'teachers:list' %}">List of teachers</a></td>
            <td style="margin: 5px; padding: 5px;"><a href="{% url 'teachers:create' %}">Create a new teacher</a> </td>
            <td style="margin: 5px; padding: 5px;"><a href="{% url 'groups:list' %}">List of groups</a></td>
            <td style="margin: 5px; padding: 5px;"><a href="{% url 'groups:create' %}">Create a new group</a> </td>
        </tr>
    </table>
    <br><br>
    {% block content %}{% endblock %}
</body>
</html>